*{
box-sizing: border-box;
}

.logo {
  display: block;
  margin: auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
    margin: 30px;
    text-align: justify;
    font-family: arial;
  }
  h1 {
    font-family: 'indie flower';
    text-align: center;
  }

  h3 {
    font-family: 'indie flower';
    text-align: center;
  }

.pige {
  margin-top: 30px;
  max-width: 50%;
  
}


div.container {
  text-align: center;
  padding: 10px 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Indie Flower';
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
    font-family: 'Indie Flower';
}

li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;



@media screen and (min-width: 700px)

}
